
    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background-color: #FFFAF0; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .titles {
        text-align: center;
        color: #FF8C42; 
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .input {
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        background-color: #FFF5E5; 
    }

    .btn {
        padding: 12px;
        margin-top: 10px;
        background-color: #FF8C42; 
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #FF6F00; 
    }

    .links {
        text-align: center;
        margin-top: 15px;
    }

    .links a {
        color: #FF8C42;
        text-decoration: none;
        font-size: 14px;
    }

    .links a:hover{ 
        color: #FF6F00;
        font-size: 14px;
        border-bottom: 1px solid #FF6F00;
        transition: 0.3s;
    }

    .guest-login {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: 2px solid #FF8C42;
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 14px;
        color: #FF8C42;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .guest-login:hover {
        background-color: #FF8C42;
        color: white;
    }

    @media (max-width: 768px) {
        .container {
            max-width: 90%;
        }

        .guest-login {
            font-size: 12px;
            padding: 6px 12px;
        }
    }