body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFFAF0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 100px; 
    left: 0;
    height: calc(100vh - 60px);
    width: 250px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.content {
    padding: 20px;
    flex: 1;
    background-color: #FFFAF0;
    overflow-y: auto; 
    margin-top: 100px;
    margin-left: 290px;
    z-index: 0;
}

.round-button {
    display: inline-block;
    width: 90px;
    height: 85px; 
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #FF8C42; 
    border: none;
    border-radius: 50%;
    box-shadow: 0 7px #FF6F00; 
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; 
    line-height: 60px; 
}

.round-button:active {
    box-shadow: 0 0px #FF6F00;
    transform: translateY(7px); 
}

.round-button:hover {
    background-color: #FF6F00; 
}

.round-button-gold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; 
    height: 90px; 
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #FFD700;
    border: none;
    border-radius: 50%; 
    box-shadow: 0 7px #B8860B; 
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; 
    line-height: 90px; 
}

.round-button-gold:active {
    box-shadow: 0 3px #b89131; 
    transform: translateY(4px); 
}

.round-button-gold:hover {
    background-color: #FFC107; 
}

.round-button-grey {
    display: inline-block;
    width: 90px; 
    height: 85px; 
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 50%;
    box-shadow: 0 7px darkgrey;
    transition: all 0.3s ease;
    text-align: center; 
    line-height: 60px; 
}

.round-button-grey:hover {
    background-color: grey;
}


.left-block {
    flex: 1; /* Adjusts width proportionally */
    text-align: left;
    padding: 10px;
}

.right-block {
    flex: 13; /* Adjusts width proportionally */
    text-align: center;
    padding: 10px;
}

.sidebar {
    position: fixed;
    top: 100px; /* Adjust to be below the topbar */
    left: 0;
    height: calc(100vh - 60px); /* Adjust height to account for the topbar */
    width: 250px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 50px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}