body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFFAF0; /* Warm cream color */
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 100px; /* Adjust to be below the topbar */
    left: 0;
    height: calc(100vh - 60px); /* Adjust height to account for the topbar */
    width: 250px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.content {
    padding: 20px;
    flex: 1;
    background-color: #FFFAF0; /* Match the body background color */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
    margin-top: 100px; /* Height of the topbar */
    margin-left: 290px; /* Width of the sidebar */
    z-index: 0;
}

.round-button {
    display: inline-block;
    width: 90px; /* Set width */
    height: 85px; /* Set height */
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #FF8C42; /* Soft orange color */
    border: none;
    border-radius: 50%; /* Make it a circle */
    box-shadow: 0 7px #FF6F00; /* Increase the shadow for a stronger 3D effect */
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center; /* Center text horizontally */;
    line-height: 60px; /* Center text vertically */
}

.round-button:active {
    box-shadow: 0 0px #FF6F00; /* Increase the shadow for a stronger 3D effect */
    transform: translateY(7px); /* Increase the translation for a stronger 3D effect */
}

.round-button:hover {
    background-color: #FF6F00; /* Darker orange on hover */
}

.round-button-grey {
    display: inline-block;
    width: 90px; /* Set width */
    height: 85px; /* Set height */
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: grey; /* Soft orange color */
    border: none;
    border-radius: 50%; /* Make it a circle */
    box-shadow: 0 7px darkgrey; /* Increase the shadow for a stronger 3D effect */
    transition: all 0.3s ease;
    text-align: center; /* Center text horizontally */;
    line-height: 60px; /* Center text vertically */
}

.round-button-grey:hover {
    background-color: grey; /* Darker orange on hover */
}